


  <div class="row">
    <div class="card">
      <div class="card-body"><br>
        <mat-card class="text-center round1 w-25 text1 " style="outline-style: outset ; outline-color:rgb(150, 69, 162);"><h3 class="p1">Welcome to my website</h3></mat-card><br><br>
        <h3 class="card-title m-5 text-center p1">

          This website created for Project Co-operative between TPS and Faculty of Telecommunication Engineering Khonkaen University<br><br>

        </h3><br>
        <mat-card style="outline-style: outset ; outline-color:rgb(43, 195, 172);">
          <h3 class="p1">
          <h3 class="text-danger p1">What can the website do?<br></h3>
          1. Backup information of cisco switch<br>
          2. Collect basic information of cisco switch ( hostname, serial number, version,...)<br>
          3. Configuration VLAN
          </h3>
        </mat-card>





      </div>
    </div>
  </div>


