.p1{
  font-family: "Time New Roman", Times, serif;
  position: absolute;
  right: 670px;
  font-size: 20px;
}

.bg{
  background: linear-gradient(to left, rgba(229, 45, 45, 0), rgb(181, 133, 194));
}

.enlogo {
  position: absolute;
  width: 40px;
  left: 1450px;

}

.tpslogo {
  position: absolute;
  width: 40px;
  left: 1400px;

}
